---
layout: default
---

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<div style="padding: 0.5em 0 0.25em 0;">
  Latest articles:
</div>

<div class="posts">
  {% for post in paginator.posts %}
    <a href="{{ site.baseurl }}{{ post.url }}">
      <article class="post">
        <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" />
        <h1>
          {{ post.title }}
        </h1>

        <div class="entry">
          {{ post.excerpt }}
        </div>

        <div class="date">
          {{ post.date | date: "%Y-%m-%d" }}
        </div>
      </article>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <span class="prev">
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
        &#xE000; Previous
      </a>
    </span>
  {% endif %}
  {% if paginator.next_page %}
    <span class="next">
      <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
        Next &#xE001;
      </a>
    </span>
  {% endif %}
</div>