.skill {

  border-radius: 0.2rem;
  margin: 0.2rem;
  padding: 0.2rem;
  border: 1px solid black;

  display: flex;

  &__text {
    flex: 1 1 auto;
  }

  &__value {
    flex: 1 1 1rem;

    display: flex;
    flex-direction: column;

  }
}