// Fonts
$base-font: 'Open Sans', sans-serif;
$code-font: 'Menlo', 'Courier New', 'Monaco', 'Spoqa Han Sans', monospace;

// Font sizes
$base-font-size: 20px;
$small-font-size: 85%;

$site-width: 840px;

$line-height: 1.6;
$spacing: 1em;

$h1-size: 200%;
$h2-size: 180%;



// Colors
$base-color: #1A1A1D;
$strong-color: #DE0046;
$detail-color: #5E4105;
$light-detail-color: #FFECC4;
$light-detail-color-2: #CAD0FF;
$link-color: #4E5BBA;
$divider-color: black;

$table-border-color: $base-color;
$table-background-color: $base-color;


$footnote-link-border-color:$base-color;
$footnote-link-background-over-color: $base-color;

$selection-color: $oc-black;
$selection-background-color: $base-color;

$pagination-color: $base-color;
$pagination-over-color: $base-color;

$tag-index-label-color: $base-color;
$tag-index-label-background-color: $base-color;
$tag-index-count-background-color: $base-color;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}